{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row divider green">
	<div class="col-md-12"></div>
</div>
<div class="row banner menu">
	<div class="col-md-11 col-md-offset-1 padding-none">
		<h1>New Game</h>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-1 padding-top">
		<form action="#" method = "post">
			<div class="form-group">
				<label font-size: 24px;for="name">Name:</label>
				<input type ="text" maxlength="50" class="form-control" name="name"placeholder="Name of the Game">

				<label for="description">Description:</label>
				<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Game Description"></textarea>

				<label for="price">Price:</label>
				<div class="input-group">
					<div class="input-group-addon">$</div>
					<input type ="text" class="form-control" maxlength="10" name="price" placeholder="Price in $">
				</div>

				<label for="image">Cover Image:</label>
				<input type ="text" maxlength="500" class="form-control" name="image"placeholder="hyperlink to game image">

				<label for="console">Console:</label>
				<div class="input-group">
					
					<select multiple id="console" name="console" width="300px" >
						<option Value="" selected>Console </option>
						{% for c in consoleList %}
						<option value="{{ c.name }}">{{ c.name }}</option>
						{% endfor %}
					</select>
				</td>
				<p>Hold down the Ctrl (windows) / Command (Mac) button to select multiple Consoles.</p>
			</div>

			<label for="genre">Genre:</label>
			<div class="input-group">
				<select name="genre" width="300px">
					<option selected>Genre </option>
					{% for g in genreList %}
					<option value="{{ g.name }}">{{ g.name }}</option>
					{% endfor %}
				</select>

			</div>
			<p></p>
			<label for="ageRating">Age Rating:</label>
			<div class="radio">
				<label>
					<input type="radio" name="ageRating" id="ageRating1" value="EARLY CHILDHOOD">
					EARLY CHILDHOOD
				</label>
			</div>
			<div class="radio">
				<label>
					<input checked="checked" type="radio" name="ageRating" id="ageRating2" value="EVERYONE"> EVERYONE
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="ageRating" id="ageRating2" value="EVERYONE 10+"> EVERYONE 10+
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="ageRating" id="ageRating3" value="TEEN">TEEN
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="ageRating" id="ageRating4" value="MATURE"> MATURE
				</label>
			</div>


			<button type="submit" class="btn btn-default" id="submit" type="submit">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create</button>
			</form>

		</div>

		<a href = "{{url_for('showGames')}}">
			<button class="btn btn-default delete">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
			</a>
		</div>



	</div>
</div>
{% endblock %}

